/* Container for final sheet */
.sheet-wrapper {
    text-align: center;
    margin-top: 30px;
}

/* The printable sheet (DO NOT resize artificially) */
.final-sheet {
    max-width: 100%;
    height: auto;
    border: 3px solid #ddd;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}
.sheet-img {
    width: 600px;
}
.sheet-box {
    display: contents;
}